exclude *.cfg_example
exclude Makefile
exclude bootstrap.py
exclude buildout.cfg
exclude gammurc_example
exclude service_example
include *.rst
include setup.py
include *.txt
recursive-include affinitic *

